$pad: 2rem;
$button_hgt: 2rem;
$rowcol: 2rem;

// -- Main -- //

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.workspace {
  flex-grow: 1;
  margin: $pad;
  margin-bottom: $pad/4;

  display: grid;
  grid-template-columns: $rowcol 1fr 1fr $rowcol;
  grid-template-rows: $rowcol 1fr 1fr $rowcol;
}

// -- General bar -- //

.bar {
  padding: $pad/2 $pad;
}

// -- Upper bar -- //

.bar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#sections > * {
  margin-left: 1.5rem;
}

// -- Bottom bar -- //

.bar-bot {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#download {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

#download-buttons > * {
  margin-left: 1rem;
}

#download-buttons {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.download-button {
  width: 4 * $pad;
}

#canvas-container {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

canvas[resize] {
  height: 100%;
}

#row-top-add {
  grid-row-start: 1;
  grid-column-start: 3;
}
#row-top-sub {
  grid-row-start: 1;
  grid-column-start: 2;
}
#row-bot-add {
  grid-row-start: 4;
  grid-column-start: 3;
}
#row-bot-sub {
  grid-row-start: 4;
  grid-column-start: 2;
}
#col-lft-add {
  grid-row-start: 2;
  grid-column-start: 1;
}
#col-lft-sub {
  grid-row-start: 3;
  grid-column-start: 1;
}
#col-rgt-add {
  grid-row-start: 2;
  grid-column-start: 4;
}
#col-rgt-sub {
  grid-row-start: 3;
  grid-column-start: 4;
}
