$pad: 2rem;
$workspace__button: 1.5rem;
// $button_hgt: 2rem;

$blue: #0038ff;
$gray_10: rgb(230, 230, 230);
$gray_05: rgb(245, 245, 245);

@font-face {
  font-family: "spacemono";
  font-style: normal;
  src: url("./fonts/SpaceMono-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "spacemono";
  font-size: 1.05rem;
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sorry {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: $blue;

  text-align: center;
  color: white;

  padding: 0 10%;

  justify-content: center;
  align-items: center;
}

.sorry__link {
  color: white;
}

.sorry__link:visited {
  color: white;
}

.sorry__link:active {
  background-color: black;
}

// -- NAVBAR -- //

.navbar {
  background-color: white;
  padding: $pad/2 $pad;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid black;
}

.navbar__logo {
  flex-basis: 40%;

  color: $blue;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navbar__link {
  margin-left: $pad/2;

  color: $blue;
  text-decoration: none;
}

.navbar__link-gray {
  color: $gray_10;
}

.navbar__link:hover {
  text-decoration: underline;
}

// -- WORKSPACE -- //

.workspace {
  flex-grow: 1;
  margin: $pad;
  margin-bottom: 0;

  display: grid;
  grid-template-columns: $workspace__button $workspace__button 1fr $workspace__button $workspace__button;
  grid-template-rows: $workspace__button $workspace__button 1fr $workspace__button $workspace__button;

  background-color: $gray_05;
}

.workspace__canvas-container {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  overflow: hidden;
}

.workspace__btn {
  border: none;
  background-color: $gray_05;
}

.workspace__btn:hover {
  background-color: $gray_10;
}

.btn_bot_add {
  grid-row-start: 5;
  grid-column-start: 3;
}
.btn_bot_sub {
  grid-row-start: 4;
  grid-column-start: 3;
}
.btn_rgt_add {
  grid-row-start: 3;
  grid-column-start: 5;
}
.btn_rgt_sub {
  grid-row-start: 3;
  grid-column-start: 4;
}

// -- CONTROLS -- //

.controls {
  padding: $pad/2 $pad;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.controls__item {
  margin-left: $pad;
  padding-left: $pad;
  border-left: 2px solid black;
  margin-top: $pad/2;
}

.controls__help {
  color: $blue;
}

.controls__help:hover {
  text-decoration: underline;
  cursor: pointer;
}

.controls__radius__slider {
  width: 3 * $pad;
}

.controls__btn {
  padding: 0 $pad;
}

// Tutorial / Modal

.tutorial {
  // position and size are set by javascript
  background-color: $blue;
  position: absolute;
  //
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial__close {
  color: white;
  //
  position: absolute;
  // Div sizing
  width: 2 * $pad;
  height: 2 * $pad;
  top: 0;
  right: 0;
  // Text centering
  font-size: $pad;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial__close:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tutorial__text {
  color: white;
  max-width: 800px;
  padding: $pad * 2;
}

.invisible {
  display: none;
}
